{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <div class="row content">

    <div class="col-sm-12 text-left">
      <h1>About Us</h1>
      <p>Discover Vinyl started in 2010 with the aim of spreading our love of music and vinyl with the rest of the world by providing an amazing collection across genres, with everything from hip hop to krautrock and everything in between available from us. We also aim to bring our customers exclussive pressings in colours only available to us and also look to guide users in the direction of some of the music we love with money off our "Record of the Week". </p>
      <hr>
      <h3>Happy Collecting!</h3>
    </div>
  </div>
</div>
{% endblock %}}
