{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <div class="row content">

    <div class="col-sm-12 text-left">
      <section class="catalogue" style="padding: 30px 0 50px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-responsive" src="{{ print_url }}"
            style="width:500px; height:500px;"/>
          </div>
          <div class="col-sm-6" style="margin-top: 20px;">
            <p class="values">
             <h1>{{ print_title }}</h1>
             <h3> {{ print_artist }}</h3>
              <p class="values">
              Released: {{ print_released }}<br>
              Producer: {{ print_producer }}<br>
              Genre: {{ print_genre }}<br>
              Record Label: {{ print_recordlabel }}<br>
              No. of Tracks: {{ print_tracks }}<br>
              Length: {{ print_length }}<br>
            </p>
          </div>
        </div>
      </div>
  </section>
    </div>
  </div>
</div>

{% endblock %}}
