{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <div class="row content">

    <div class="col-sm-12 text-left">
      <h1>Get in touch</h1>
      <hr>
      <h3>Contact Details</h3>
      <p>Phone: 0131 872560</p>
      <p>Email: discover@vinyl.com</p>
      <p>Twitter: @DiscoverVinyl</p>
      <p>Facebook: Facebook.com/DiscoverVinyl</p>
    </div>
  </div>
</div>

{% endblock %}}
