{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <div class="row content">

    <div class="col-sm-12 text-left">    <h1>Welcome to Discover Vinyl</h1>
      <p>The biggest and best collection of records on the web, aiming to keep
      physical media alive and maybe even help you discover some new favourites
      along the way.</p>
      <hr>
      <h3>Our Collection</h3>
      <p>"But have you seen my records?" - Losing My edge - LCD Soundsystem
      2002</p>
      <hr>
  <div class="row">
    <div class="col-sm-4"><a href="/album?num=album1"><img src="../static/img/gbv.jpg" width="300"
    height="300"></a><h3>Guided By Voices</h3><p>Bee Thousand<br>1994 - Indie,
    Lo-FI</p></div>
    <div class="col-sm-4"><a href="/album?num=album17"><img src="../static/img/ae.jpg" width="300"
    height="300"></a><h3>Danny Brown</h3><p>Attrocity EXhibition<br>2016 -
    Experimental Hip-Hop</p></div>
    <div class="col-sm-4"><a href="/album?num=album2"><img src="../static/img/aw.png" width="300"
    height="300"></a><h3>Silver Jews</h3><p>American Water<br>1998 - Indie Rock</p></div>
  </div>
  <div class="row" style="padding-top: 30px;">
    <div class="col-sm-4"><a href="/album?num=album9"><img src="../static/img/can.jpg" width="300"
    height="300"></a><h3>Can</h3><p>Tago Mago<br>1971 - Krautrock</p></div>
    <div class="col-sm-4"><a href="/album?num=album20"><img src="../static/img/fsa.jpg" width="300"
    height="300"></a><h3>Flying Saucer Attack</h3><p>Flying Saucer Attack<br>1993 -
    Shoegaze</p></div>
    <div class="col-sm-4"><a href="/album?num=album11"><img src="../static/img/hla.png" width="300"
    height="300"></a><h3>Hercule And Love Affair</h3><p>Hercules And Love
    Affair<br>2008 - House, Dance</p></div>
  </div>
    <div class="row" style="padding-top: 30px;">
    <div class="col-sm-4"><a href="/album?num=album14"><img src="../static/img/lag.jpg" width="300"
    height="300"></a><h3>Spiritualized</h3><p>Ladies And Gentlemen We Are Floating
    In Space<br>1997 - Space Rock</p></div>
    <div class="col-sm-4"><a href="/album?num=album7"><img src="../static/img/lib.png" width="300"
    height="300"></a><h3>The Replacements</h3><p>Let It Be<br>1984 - Post-Punk</p></div>
    <div class="col-sm-4"><a href="/album?num=album5"><img src="../static/img/low.jpg" width="300"
    height="300"></a><h3>David Bowie</h3><p>Low<br>1977 - Art Rock</p></div>
  </div>
    <div class="row" style="padding-top: 30px;">
    <div class="col-sm-4"><a href="/album?num=album18"><img src="../static/img/mc.jpg" width="300"
    height="300"></a><h3>Deerhunter</h3><p>Microcastle<br>2008 - Indie Rock</p></div>
    <div class="col-sm-4"><a href="/album?num=album3"><img src="../static/img/mv.png" width="300"
    height="300"></a><h3>Madvillain</h3><p>Madvillainy<br>2004 - Hip Hop</p></div>
    <div class="col-sm-4"><a href="/album?num=album13"><img src="../static/img/xtc.jpg" width="300"
    height="300"></a><h3>XTC</h3><p>Skylarking<br>1986 - New Wave</p></div>
  </div>
    <div class="row" style="padding-top: 30px;">
    <div class="col-sm-4"><a href="/album?num=album16"><img src="../static/img/pf.jpg" width="300"
    height="300"></a><h3>Wire</h3><p>Pink Flag<br>1977 - Post-Punk</p></div>
    <div class="col-sm-4"><a href="/album?num=album15"><img src="../static/img/sb.jpg" width="300"
    height="300"></a><h3>The Soft Boys</h3><p>Underwater Moonlight<br>1980 -
    Post-Punk, New Wave</p></div>
    <div class="col-sm-4"><a href="/album?num=album10"><img
    src="../static/img/mob.jpeg" width="300"
    height="300"></a><h3>Mission Of Burma</h3><p>Signals. Calls and Marches<br>1981 -
    Post-Punk</p></div>
  </div>
    <div class="row" style="padding-top: 30px;">
    <div class="col-sm-4"><a href="/album?num=album8"><img src="../static/img/nmh.jpg" width="300"
    height="300"></a><h3>Neutral Milk Hotel</h3><p>In The Aeroplane Over The
    Sea<br>1998 - Indie</p></div>
    <div class="col-sm-4"><a href="/album?num=album19"><img src="../static/img/Pnk.jpg" width="300"
    height="300"></a><h3>Weezer</h3><p>Pinkerton<br>1996 - Alt. Rock</p></div>
    <div class="col-sm-4"><a href="/album?num=album6"><img src="../static/img/sily.jpg" width="300"
    height="300"></a><h3>The Avalanches</h3><p>Since I Left You<br>2000 -
    Plunderphonics</p></div>
  </div>
    </div>
  </div>
</div>

</body>
{% endblock %}}
