/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  background-color: #18B15f;
  margin-bottom: 0;
  border-color: #18B15f;
  border-radius: 0;

}

#icon-bar {
  color: #fff
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

h1{
  color: #18B15f;
}

h3{
  color: #18B15f;
}
