<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/master.css">
  <link rel="javascript" href="../static/js/jquery-3.1.1.min.js">
  <link rel="javascript" href="../static/js/bootstrap.min.js">
</head>
<body>
<nav class="navbar navbar-inverse">
 <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="../static/img/carrot.png" style="width:40px;height:auto;padding-bottom:2px;"></a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
    <li><a href="/">CookUp!</a></li>
    </ul>
    <form action = "/results">
    <input type="text" name="q" placeholder="Search.." style="width:80%;
    height:25px;; margin-top:10px;  color:#FF9C4A;">
    </form>
   </div>
 </div>
</nav>
{% block content %}
{% endblock %}
