{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <div class="row content">

    <div class="col-sm-12 text-left">    <h1>Welcome to CookUP!</h1>
      <p>Not sure what to eat? Only got a few things in the fridge? Or just
      fancy something a little bit different?  Not a problem just enter some ingredients 
      in the search bar  and we will randomly generate a delicious recipe for you to cook up and enjoy!
      </p>
      <hr>
  </div>
{% endblock %} 
