{% extends "base.html" %}
{% block content %}
<div class="body">
<h1>{{ name }}, {{ serves }}, {{ ttime }}</h1>
<p><a href=' {{ url }} '>Powered By:<img src='{{ logo }}'></a></p>
<h1>Ingredients</h1>
<h2> {{ i1 }} <br> {{ i2 }} <br> {{ i3 }} <br> {{ i4 }} <br> {{ i5 }}</h2>
<h1>Nutrional Estimates</h1>
<h2>Energy (kcal): {{ nrg }}</h2>
<h2>Fat (g): {{ fat }}</h2>
<h2>Saturated Fats (g): {{ sfat }}</h2>
<h2>Cholestorl (g): {{ chole }}</h2>
<h2>Sugar (g): {{ sug }}</h2>
<h2>Protein (g): {{ pro }}</h2>
<img src='{{ lrgimg }}'>

</div>
{% endblock %} 

