{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ name }} </h1>
<h2>Time:{{ ttime }}</h2>
<p><a href=' {{ url }} '>{{ text }} </a><img src='{{ logo }}'></p>
<h1>Ingredients</h1>
<p> {{ i1 }} <br> {{ i2 }} <br> {{ i3 }} <br> {{ i4 }} <br> {{ i5 }}</p>
<h1>Nutrional Estimates</h1>
<p>Energy (kcal): {{ nrg }}</p>
<p>Fat (g): {{ fat }}</p>
<p>Saturated Fats (g): {{ sfat }}</p>
<p>Cholestorl (g): {{ chole }}</p>
<p>Sugar (g): {{ sug }}</p>
<p>Protein (g): {{ pro }}</p>
    </div>
    <div class="col-sm-6" style="padding-top:25px;">
      <img src='{{ lrgimg }}'>
<h1>Rating: {{ rating }} stars</h1>
    </div>
  </div>
{% endblock %} 


