.navbar {
  background-color: #FF9C4A;
  margin-bottom: 0;
  border-color: #FF9C4A;
  border-radius: 0;

}

#icon-bar {
  color: #fff
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

h1{
  color: #FF9C4A;
}
